						/* BBC TECH NEWS CLONE PAGE */
						
/*GENERIC*/
			body{
				color: #000;
				font-family: Arial;
				text-align: left;
				margin: 0px;
			}
			
			a{
				text-decoration: none;
			}
				a:hover{
					color: #1167A8;
				}
			
/*HEADER/MAIN CONTENT SPLIT*/
			#content{
				display: grid;
				grid-template-columns: repeat(1, 1fr);
				grid-auto-rows: minmax(10px, auto);
				width: 100%;
				grid-gap: 0px;
				grid-template-areas:
				"header"
				"main";
			}
					header{
						grid-area: header;
					}
					main{
						grid-area: main;
					}
			
/*HEADER SPLIT*/
			#nested-header{
				display: grid;
				grid-template-columns: repeat(1, 1fr);
				grid-auto-rows: minmax(10px, auto);
				min-width: 100%;
				margin: 0 auto;
				grid-gap: 0px;
				grid-template-areas:
				"head-nav"
				"topic-title"
				"news-nav";
			}
					.head-nav{
						grid-area: head-nav;
						padding: 0 12.5% 0 12.5%;
					}
					
/*HEADER MIDDLE*/
					.topic-title{
						grid-area: topic-title;
						background: #BB1919;
						padding: 5px 12.5% 5px 12.5%;
						font-size: 250%;
						color: #fff;
						margin: 0;
					}
					.news-nav{
						grid-area: news-nav;
						background: #A91717;
						color: #fff;
						padding: 10px 12.5%;
					}
			
/*HEADER TOP*/
			#nested-head-nav{
				display: grid;
				grid-template-columns: repeat(16, 1fr);
				grid-auto-rows: minmax(10px, auto);
				width: 75%;
				margin: 0 auto;
				text-align: center;
				font-weight: bold;
				font-size: 80%;
				grid-template-areas:
				"logo sign-in sign-in sign-in notifications news sport weather iplayer sounds more more search search search search";
			}
					.logo{
						grid-area: logo;
						padding-right: 5px;
					}
					
					.sign-in{
						grid-area: sign-in;
						text-align: left;
					}
						.sign-in:hover{
							border-bottom: 4px solid #1188BB;
						}
					
					.notifications{
						grid-area: notifications;
					}
						.notifications:hover{
							border-bottom: 4px solid #006DEF;
						}
					
					.news{
						grid-area: news;
					}
						.news:hover{
							border-bottom: 4px solid #992211;
						}
					
					.sport{
						grid-area: sport;
					}
						.sport:hover{
							border-bottom: 4px solid #FFD230;
						}
					
					.weather{
						grid-area: weather;
					}
						.weather:hover{
							border-bottom: 4px solid #88CCEE;
						}
					
					.iplayer{
						grid-area: iplayer;
					}
						.iplayer:hover{
							border-bottom: 4px solid #ED3D7D;
						}
					
					.sounds{
						grid-area: sounds;
					}
						.sounds:hover{
							border-bottom: 4px solid #FF4900;
						}
					
					.more{
						grid-area: more;
						text-align: left;
					}
						.more:hover{
							border-bottom: 4px solid #262626;
						}
					
					.search{
						grid-area: search;
						text-align: left;
						padding: 0 10px 0 10px;
					}
					
						#nested-head-nav div{
							border-left: 1px solid #CCCCCC;
						}
						
						#nested-head-nav p{
							padding: 0 10px 0 10px;
							margin: 10.5px 0 0 0;
						}
						
						#nested-head-nav img.logo{
							margin-top: 3px;
						}
						
						#sign-in-stamp{
							position: relative;
							top: -2px;
						}
						
						#notifications-stamp{
							color: #B4B4B4;
							font-size: 140%;
							margin-top: 11.25px;
							margin-left: 21px;
						}
						
						.notification-link--triangle:first-of-type {
							position: relative;
							left: 0;
							top: 14px;
							border-left: 6px solid #ccc;
							border-top: 6px solid transparent;
							border-bottom: 6px solid transparent;
							z-index: 1;
						}
						
						.notification-link--triangle:last-of-type {
							position: relative;
							left: -1px;
							top: 3px;
							border-left: 5px solid white;
							border-top: 5px solid transparent;
							border-bottom: 5px solid transparent;
							z-index: 2;
						}
						
						#head-more-stamp{
							float: right;
						}
						
						#nested-head-nav form{
							margin: 6.5px 0 0 0;
						}
						
						#nested-head-nav input{
							float: left;
							margin: 0;
							background: #E4E4E4;
							border: 3px solid #E4E4E4;
						}
						
						#nested-head-nav ::placeholder{
							color: black;
							font-weight: bold;
						}
						
						#nested-head-nav input:focus::-webkit-input-placeholder {
							color: #9999AC;
							font-weight: bold;
						}
						
						#nested-head-nav button {
						  float: left;
						  background: #E4E4E4;
						  border: 3px solid #E4E4E4;
						  cursor: pointer;
						}
			
/*HEADER BOTTOM*/
			#nested-news-nav{
				width: 75%;
				margin: 0 auto;
				font-size: 90%;
				padding-top: 0;
				padding-bottom: 0;
			}
			
					#nested-news-nav ul{
						list-style: none;
						padding: 0;
						margin: 0;
						display: flex;
					}
					
					#nested-news-nav li{
						border-top: 10px solid #A91717;
						border-bottom: 10px solid #A91717;
						cursor: pointer;
					}
						#nested-news-nav li:hover{
							border-bottom: 4px solid white;
						}
						#nested-news-nav li:nth-child(6){
						border-bottom: 4px solid white;
						}
						#nested-news-nav li:last-child{
						padding: 0 0 0 12px;
						}
						#nested-news-nav li:hover:last-child{
						background: #000000;
						border-top: 10px solid #000000;
						border-bottom: 10px solid #000000;
						border-right: 12px solid #000000;
					}
					
					#nested-news-nav p{
						border-right: 1px solid #BB4545;
						padding: 0 12px 0 12px;
						margin: 0;
					}
						#nested-news-nav li:first-child p{
							padding: 0 12px 0 0;
						}
			
/*MAIN CONTENT*/
			#nested-main{
				display: grid;
				grid-template-columns: repeat(7, 1fr);
				grid-auto-rows: minmax(10px, auto);
				width: 75%;
				margin: 0 auto;
				grid-gap: 10px;
				grid-template-areas:
				"title title title title title title title"
				"head-story head-story head-story head-story head-story watch-listen watch-listen"
				"sub-story-1 sub-story-1 sub-story-2 sub-story-2 sub-story-3 watch-listen watch-listen";
			}
			
					.title{
						grid-area: title;
						margin: 0 0 10px 0;
					}
						.title p{
							margin: 10px 0 10px 0;
						}
						.title span{
							border-bottom: 3px solid #BB1919;
							padding: 0 0 2px 0;
							font-size: 130%;
							color: #404040
						}
					
					.head-story{
						grid-area: head-story;
						border-bottom: 1px solid #DBDBDB;
						padding: 0 0 10px 0;
					}
					
					.sub-story-1{
						grid-area: sub-story-1;
						border-right: 1px solid #DBDBDB;
						padding: 0 10px 0 0;
					}
					
					.sub-story-2{
						grid-area: sub-story-2;
						border-right: 1px solid #DBDBDB;
						padding: 0 10px 0 0;
					}
					
					.sub-story-3{
						grid-area: sub-story-3;
					}
					
					.watch-listen{
						grid-area: watch-listen;
						border-left: 1px solid #DBDBDB;
						padding: 0 0 0 10px;
					}
					
/*HEAD STORY*/			
				#nested-head-story{
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					grid-auto-rows: minmax(10px, auto);
					width: 100%;
					margin: 0 auto;
					grid-gap: 10px;
					grid-template-areas:
					"headline headline headline"
					"summary pic pic"
					"date pic pic"
					"related-story pic pic"
					". pic pic";
				}
				
					.headline{
						grid-area: headline;
						font-size: 230%;
						margin: 0;
					}
						.head-story:hover .headline{
						color: #1167A8;
						}
					
					.summary{
						grid-area: summary;
						margin: 0;
						color: #5A5A5A;
					}
					
					.date{
						grid-area: date;
						margin: 0;
						color: #5A5A5A;
						font-size: 85%;
					}
						.date a {
							color: #BB1919;
						}
						.date a:hover {
							color: #1167A8;
						}
						.date span{
							border-bottom: 1px solid #BB1919;
							padding: 0 0 10px 0;
						}
					
					.related-story{
						grid-area: related-story;
						color: #5A5A5A;
						margin: 10px 0 0 0;
					}
					
					.pic{
						grid-area: pic;
					}
					
/*SUB STORY 1+2*/
				#nested-sub-story-1-2{
					display: grid;
					grid-template-columns: repeat(1, 1fr);
					grid-auto-rows: minmax(10px, auto);
					width: 100%;
					margin: 0, auto;
					grid-gap: 10px;
					grid-template-areas:
					"pic"
					"headline"
					"summary"
					"date"
					"related-story";
				}
				
					.sub-pic-1-2{
						grid-area: pic;
					}
					
					.sub-headline-1-2{
						grid-area: headline;
						font-size: 140%;
						margin: 0;
					}
						#nested-sub-story-1-2:hover .sub-headline-1-2{
						color: #1167A8;
						}
					
					.sub-summary-1-2{
						grid-area: summary;
						margin: 0;
					}
					
					.sub-date-1-2{
						grid-area: date;
						margin: 0;
						font-size: 85%;
					}
						.sub-date-1-2 a {
							color: #BB1919;
						}
						.sub-date-1-2 a:hover {
							color: #1167A8;
						}
						.sub-date-1-2 span{
							border-bottom: 1px solid #BB1919;
							padding: 0 0 10px 0;
						}
						
					.sub-related-story-1-2{
						grid-area: related-story;
						margin: 10px 0 10px 0;
						color: #5A5A5A;
					}

/*SUB STORY 3*/
				.sub-story-3 section{
					margin: 0 0 10px 0;
					padding: 0 0 10px 0;
					border-bottom: 1px solid #DBDBDB
				}
					.sub-story-3 section:last-child{
						border-bottom: none;
					}
					
				.sub-headline-3{
					margin: 0;
				}
					.sub-story-3 section:hover .sub-headline-3{
					color: #1167A8;
					}
				
				.sub-date-3{
					margin: 10px 0 5px 0;
					font-size: 85%;
				}
				
				.sub-link-3{
					margin:0;
					padding: 0 0 0 10px;
					border-left: 1px solid #DBDBDB;
					font-size: 85%;
					color: #BB1919;
				}
				
				#time-stamp{
					position: relative;
					top: 5px;
				}
					
/*WATCH/LISTEN SECTION*/
				#nested-watch-listen{
					display: grid;
					grid-template-columns: repeat(1, 1fr);
					grid-auto-rows: minmax(10px, auto);
					width: 100%;
					margin: 0 auto;
					grid-gap: 20px;
					grid-template-areas:
					"watch-head"
					"watch-1"
					"watch-2"
					"watch-3"
					"watch-4"
					"watch-5"
					"watch-6"
					"share";
				}
						.watch-head{
							grid-area: watch-head;
							font-size: 160%;
							color: #464040;
							margin: 0;
						}
						.watch-1{
							grid-area: watch-1;
						}
						.watch-2{
							grid-area: watch-2;
						}
						.watch-3{
							grid-area: watch-3;
						}
						.watch-4{
							grid-area: watch-4;
						}
						.watch-5{
							grid-area: watch-5;
						}
						.watch-6{
							grid-area: watch-6;
						}
						.share{
							grid-area: share;
						}
					
					#nested-watch-listen section:hover h4{
						color: #1167A8;
					}
					
				#nested-watch{
					display: grid;
					grid-template-columns: repeat(5, 1fr);
					grid-auto-rows: minmax(10px, auto);
					width: 100%;
					margin: 0 auto;
					grid-gap: 5px;
					grid-template-areas:
					"image image head head head"
					"image image date date date";
				}
					#nested-watch img{
						grid-area: image;
					}
					
					#nested-watch h4{
						grid-area: head;
						margin: 0;
						font-size: 100%;
					}
					
					#nested-watch p{
						grid-area: date;
						margin: 0;
						font-size: 75%;
						color: #5A5A5A;
					}
					
					#nested-watch a{
						color: #BB1919;
					}
						#nested-watch a:hover{
							color: #1167A8;
						}
				
/* SHARE SECTION */
				.share-title{
					font-size: 150%;
				}
				
				.share{
					margin-top: 20px;
					color: #404040;
				}
					.share a{
						color: #000;
					}
					.share a:hover{
						color: #1167A8;
					}
					.share p{
						font-size: 85%;
					}
					.share span{
						color: #000;
						font-weight: bold;
					}
					
				#share-stamp{
					position: relative;
					top: 3px;
				}
				
				#contact-stamp{
					position: relative;
					top: 6px;
				}
				